body {
    margin: 0;
    font-family: Arial;
    background: #f4f6f9;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: #075e54;
}

.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.search-box input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.search-box button {
    padding: 10px 15px;
    border: none;
    background: #075e54;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.search-box button:hover {
    background: #06463f;
}

iframe {
    width: 100%;
    height: 450px;
    border-radius: 10px;
    border: none;
}